
.chosen-container-multi .chosen-choices {
  height: 100% !important;
  padding: 0 !important;
  border-color: #ffc107!important;
}

.chosen-container-multi .chosen-choices li.search-field {
  height: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {

  font-size: 1rem !important;
  color: #495057 !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  padding: 1rem !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  font-size: 1rem !important;
  padding: 7px 20px 7px 10px !important;
}

